# editors
.idea
.vscode

# configs
/configs/fe/.env
/configs/ms/.env
.env

#custom


# data
/data/bd
/data/files

# fe
/src/fe/node_modules
/src/fe/public/hot
/src/fe/public/storage
/src/fe/storage/*.key
/src/fe/vendor
/src/fe/.env
/src/fe/.env.backup
/src/fe/.phpunit.result.cache
/src/fe/docker-compose.override.yml
/src/fe/Homestead.json
/src/fe/Homestead.yaml
/src/fe/npm-debug.log
/src/fe/yarn-error.log
/src/fe/.idea
/src/fe/.vscode
/src/fe/*/*/.DS_Store
/src/fe/*/.DS_Store

# ms_*
/src/ms_*/vendor
/src/ms_*/.idea
/src/ms_*/.vscode
/src/ms_*/Homestead.json
/src/ms_*/Homestead.yaml
/src/ms_*/.env
/src/ms_*/.phpunit.result.cache
.DS_Store*

.env
certificados/cert.pem
certificados/cert6.pem
certificados/chain.pem
certificados/chain6.pem
certificados/fullchain.pem
certificados/fullchain6.pem
certificados/privkey.pem
certificados/privkey6.pem
certificados/sgd.padrelascasas.cl.cert
certificados/sgd.padrelascasas.cl.key
src/fe/public/favicon.ico
src/fe/public/css/custom.css
src/fe/public/img/fondo_login.jpg
src/fe/public/img/icono_logo2.png
src/fe/public/img/logo1.png
src/fe/public/img/logo2.png
src/fe/public/img/logo3.png
src/fe/public/img/logo4.png
src/fe/public/img/fondo-login/fondoP.jpg
certificados/sgd.padrelascasas.cl.cert
certificados/sgd.padrelascasas.cl.key
configs/fe/apache/000-default.conf
configs/fe/apache/default-ssl.conf
src/fe/public/favicon.ico
src/fe/composer.lock
src/fe/package-lock.json
