# editors
.idea
.vscode

# configs
/configs/fe/.env
/configs/ms/.env
.env

#custom
/configs/customize/*

# data
/data/bd
/data/files

# fe
/src/fe/node_modules
/src/fe/public/hot
/src/fe/public/storage
/src/fe/storage/*.key
/src/fe/vendor
/src/fe/.env
/src/fe/.env.backup
/src/fe/.phpunit.result.cache
/src/fe/docker-compose.override.yml
/src/fe/Homestead.json
/src/fe/Homestead.yaml
/src/fe/npm-debug.log
/src/fe/yarn-error.log
/src/fe/.idea
/src/fe/.vscode
/src/fe/*/*/.DS_Store
/src/fe/*/.DS_Store

# ms_*
/src/ms_*/vendor
/src/ms_*/.idea
/src/ms_*/.vscode
/src/ms_*/Homestead.json
/src/ms_*/Homestead.yaml
/src/ms_*/.env
/src/ms_*/.phpunit.result.cache
.DS_Store*

