.bg {
    background-image: url(/img/fondo_login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box-login{
    background-color: rgb(255 255 255 / 90%) !important;
}
.logo-3{
    width: 100px;
}
.logo-4{
    width: 100px;
}