.dropdown-menu.dropdown-menu-lg.dropdown-menu-right.show a{
  background:#09579c;
}
.dropdown-menu.dropdown-menu-lg.dropdown-menu-right.show a:hover{
  background:#20d60f;
}
.text-white a{
  color: rgb(255, 255, 255)!important;
  text-decoration: inherit;
}

.text-white a:hover{
 color: #47b92a;
}
.navbar-light.navbar-nav.nav-link{
    color: rgba(255, 255, 255, 0.8);
}
.a.nav-link.dropsown-toogle{
    color: rgba(255, 255, 255, 0.8);
}
.nav.navbar-nav.navbar-right li a {
    color: rgba(255, 255, 255, 0.8);
}

.nav.navbar-nav.navbar-right li a {
    color: rgba(255, 255, 255, 0.8);
    }
.sidebar-plc-blue{
    background: #09579c !important;
  }

.navbar-plc {
    background-color: #09579c;
}

  .navbar-plc.navbar-light .form-control-navbar::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-plc.navbar-light .form-control-navbar::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }

  .navbar-plc.navbar-light .form-control-navbar:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }

  .navbar-plc.navbar-light .form-control-navbar::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }

  .navbar-plc.navbar-light .form-control-navbar::placeholder {
    color: rgba(255, 255, 255, 0.8);
  }

  .navbar-plc.navbar-light .form-control-navbar,
  .navbar-plc.navbar-light .form-control-navbar + .input-group-append > .btn-navbar {
    background-color: #0071eb;
    border-color: #0065d1;
    color: rgba(196, 213, 230, 0.8);
  }

  .navbar-plc.navbar-light .form-control-navbar:focus::-webkit-input-placeholder {
    color: #a1aab3;
  }

  .navbar-plc.navbar-light .form-control-navbar:focus::-moz-placeholder {
    color: #a1aab3;
  }

  .navbar-plc.navbar-light .form-control-navbar:focus:-ms-input-placeholder {
    color: #a1aab3;
  }

  .navbar-plc.navbar-light .form-control-navbar:focus::-ms-input-placeholder {
    color: #a1aab3;
  }

  .navbar-plc.navbar-light .form-control-navbar:focus::placeholder {
    color: #a1aab3;
  }

  .navbar-plc.navbar-light .form-control-navbar:focus,
  .navbar-plc.navbar-light .form-control-navbar:focus + .input-group-append .btn-navbar {
    background-color: #006fe6;
    border-color: #0065d1 !important;
    color: #a9b5c2;
  }

  .navbar-plc > .user-menu > .dropdown-menu > .user-footer {
    background-color: #5fa4e9;
    padding: 10px;
  }

  .navbar-plc > .user-menu > .dropdown-menu > .user-footer::after {
    display: block;
    clear: both;
    content: "";
  }

  .navbar-plc > .user-menu > .dropdown-menu > .user-footer .btn-default {
    color: #09579c;
  }
  .linea_content_header {
    border-top: 3px solid #28a745;
    height: 3px;
    padding: 0;
    margin: 20px auto 0 auto;
  }
.nuevo_usuario{
    margin-left: auto;
    display: block;
}
.boton_nuevo{
    margin-left: auto;
    display: block;
}
.buzones_carpetas_btn_colapsable_text
{
    font-size: 20px;
}
[aria-expanded="true"] .fa-chevron-circle-up,
[aria-expanded="false"] .fa-chevron-circle-down {
    display:none;
}

.nav-item.nav-link.active{
background-color: #007bff;
color: #ffffff;
}

.w-10 {
  width: 10%!important;
}

.group-button-align {
  margin-top: 15px;
  text-align: right;
}

.grilla_header {
  background-color: rgba(0,0,0,.1);
}

.txt_fila_menu {
  display: inline-flex !important;
  width: 80%;  
}

/* carrusel responder a*/

.carousel-wrapper {
  width: 1200px;
  margin: auto;
  position: relative;
  text-align: center;
  --background-color: #e9f1fe;
  --border: 1px solid #005c9e;
  
}

.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}

.owl-carousel .item_display {
  text-align: center;
  border: 1px solid #005c9e;
  background: #aedd94;
  width: 100px;
  height: 100px;
  padding-top: 25px;
}

.owl-item {
  width: 100px !important; 
  margin-right: 10px; 
}

.item-doc {
  background: #92d36e !important;
  border: 2px solid #005c9e;           
}

.owl-carousel .nav-button {
  height: 50px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  top: 0px !important;
}
.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.25;
}
.owl-carousel .owl-prev {
  left: -35px;
}
.owl-carousel .owl-next {
  right: -35px;
}
.owl-theme .owl-nav [class*=owl-] {
  color: #697680;
  font-size: 40px;
  border-radius: 3px;
}
.owl-carousel .prev-carousel:hover {
  background-position: 0px -53px;
}
.owl-carousel .next-carousel:hover {
  background-position: -24px -53px;
}
.item_prev
{
  padding-top: 25px;
}
.item_next
{
  padding-top: 25px;
}

.btn-arch {
  position: absolute;
  top: 72px;
  display: inline;    
}

/* dropzone */

.card {
  overflow: visible !important;
}

.dropzone {
  border: 2px dashed #ced4da;
}

.card-archivos {
  display: flex;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #e9f1fe;
}

.dropzone-files {
  flex:1;
}

.dropzone-view {
  --background-color: #e9f1fe;
  margin-right: 30px;
  --padding:20px;
}

.dropzone {
  background-color: #d4e3fc;
  border: 1px dashed #005c9e;
  color: #0844a4;
  font-weight: 700;
}

.dropzone-none {
  border: none;
  font-weight: 700;
}

.dz-max-files-reached {
  pointer-events: none;
  cursor: default;
}
.dz-remove { 
  pointer-events: all; cursor: default; 
}

.file-container-all { display: flex; }
.file-container { 
    position: relative; 
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    padding: 5px;
    float: left;
    text-align: center;
    background-color: white;
    margin-right: 10px;
}
.file-container img { display: block; }
.fa-icon1 { position: absolute; bottom:0; left:0; }
.fa-icon2 { position: absolute; bottom:0; left:30px; }

.odd:hover, .even:hover{
    background: whitesmoke;
}


.header1 {            
    margin: 0px 10px;
    width: 100px;
    text-align: center;
    height: 150px;
    cursor: pointer;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    float:left;
}

.bl1, .bl2 {
    border:1px solid #005c9e;
    color: #697680;
    font-weight: 700;
}

.bl2 {
    flex:1;
}

.displayDropzone {
    display:none;
}

.display_va {
    float:left;
    padding:20px;
}

.fondo_estado{            
        
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  --color: #999;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  --margin-right: 15px;
  text-align: center;
  width: 30px; 
  border: 1px solid #005c9e;
  height:30px;
  vertical-align: -webkit-baseline-middle;

}

.btn_busqueda {
  margin-right: 20px;
}
.m-0 { margin:0!important; }
.m-1 { margin:.25rem!important; }
.m-2 { margin:.5rem!important; }
.m-3 { margin:1rem!important; }
.m-4 { margin:1.5rem!important; }
.m-5 { margin:3rem!important; }

.mt-0 { margin-top:0!important; }
.mr-0 { margin-right:0!important; }
.mb-0 { margin-bottom:0!important; }
.ml-0 { margin-left:0!important; }
.mx-0 { margin-left:0 !important;margin-right:0 !important; }
.my-0 { margin-top:0!important;margin-bottom:0!important; }

.mt-1 { margin-top:.25rem!important; }
.mr-1 { margin-right:.25rem!important; }
.mb-1 { margin-bottom:.25rem!important; }
.ml-1 { margin-left:.25rem!important; }
.mx-1 { margin-left:.25rem!important;margin-right:.25rem!important; }
.my-1 { margin-top:.25rem!important;margin-bottom:.25rem!important; }

.mt-2 { margin-top:.5rem!important; }
.mr-2 { margin-right:.5rem!important; }
.mb-2 { margin-bottom:.5rem!important; }
.ml-2 { margin-left:.5rem!important; }
.mx-2 { margin-right:.5rem!important;margin-left:.5rem!important; }
.my-2 { margin-top:.5rem!important;margin-bottom:.5rem!important; }

.mt-3 { margin-top:1rem!important; }
.mr-3 { margin-right:1rem!important; }
.mb-3 { margin-bottom:1rem!important; }
.ml-3 { margin-left:1rem!important; }
.mx-3 { margin-right:1rem!important;margin-left:1rem!important; }
.my-3 { margin-bottom:1rem!important;margin-top:1rem!important; }

.mt-4 { margin-top:1.5rem!important; }
.mr-4 { margin-right:1.5rem!important; }
.mb-4 { margin-bottom:1.5rem!important; }
.ml-4 { margin-left:1.5rem!important; }
.mx-4 { margin-right:1.5rem!important;margin-left:1.5rem!important; }
.my-4 { margin-top:1.5rem!important;margin-bottom:1.5rem!important; }

.mt-5 { margin-top:3rem!important; }
.mr-5 { margin-right:3rem!important; }
.mb-5 { margin-bottom:3rem!important; }
.ml-5 { margin-left:3rem!important; }
.mx-5 { margin-right:3rem!important;margin-left:3rem!important; }
.my-5 { margin-top:3rem!important;margin-bottom:3rem!important; }

.mt-auto { margin-top:auto!important; }
.mr-auto { margin-right:auto!important; }
.mb-auto { margin-bottom:auto!important; }
.ml-auto { margin-left:auto!important; }
.mx-auto { margin-right:auto!important;margin-left:auto!important; }
.my-auto { margin-bottom:auto!important;margin-top:auto!important; }

.p-0 { padding:0!important; }
.p-1 { padding:.25rem!important; }
.p-2 { padding:.5rem!important; }
.p-3 { padding:1rem!important; }
.p-4 { padding:1.5rem!important; }
.p-5 { padding:3rem!important; }

.pt-0 { padding-top:0!important; }
.pr-0 { padding-right:0!important; }
.pb-0 { padding-bottom:0!important; }
.pl-0 { padding-left:0!important; }                             
.px-0 { padding-left:0!important;padding-right:0!important; }
.py-0 { padding-top:0!important;padding-bottom:0!important; }

.pt-1 { padding-top:.25rem!important; }         
.pr-1 { padding-right:.25rem!important; }                       
.pb-1 { padding-bottom:.25rem!important; }      
.pl-1 { padding-left:.25rem!important; }                            
.px-1 { padding-left:.25rem!important;padding-right:.25rem!important; }
.py-1 { padding-top:.25rem!important;padding-bottom:.25rem!important; }

.pt-2 { padding-top:.5rem!important; }                                              
.pr-2 { padding-right:.5rem!important; }                                
.pb-2 { padding-bottom:.5rem!important; }               
.pl-2 { padding-left:.5rem!important; }                                             
.px-2 { padding-right:.5rem!important;padding-left:.5rem!important; }
.py-2 { padding-top:.5rem!important;padding-bottom:.5rem!important; }

.pt-3 { padding-top:1rem!important; }                               
.pr-3 { padding-right:1rem!important; }             
.pb-3 { padding-bottom:1rem!important; }                
.pl-3 { padding-left:1rem!important; }                              
.py-3 { padding-bottom:1rem!important;padding-top:1rem!important; }
.px-3 { padding-right:1rem!important;padding-left:1rem!important; }

.pt-4 { padding-top:1.5rem!important; }                             
.pr-4 { padding-right:1.5rem!important; }               
.pb-4 { padding-bottom:1.5rem!important; }              
.pl-4 { padding-left:1.5rem!important; }                                
.px-4 { padding-right:1.5rem!important;padding-left:1.5rem!important; }
.py-4 { padding-top:1.5rem!important;padding-bottom:1.5rem!important; }

.pt-5 { padding-top:3rem!important; }   
.pr-5 { padding-right:3rem!important; } 
.pb-5 { padding-bottom:3rem!important; }    
.pl-5 { padding-left:3rem!important; }  
.px-5 { padding-right:3rem!important;padding-left:3rem!important; }
.py-5 { padding-top:3rem!important;padding-bottom:3rem!important; }